{% extends 'base.html.twig' %}

{% block body %}
  <h3 class="mb-3">ProductBundle</h3>

  <p>
    <a href="{{ path('app_product_new') }}" class="btn btn-primary">{{ 'generic.add'|trans }}</a>
  </p>

  <div class="overflow-x-auto my-3">
    <table class="table table-striped table-hover m-0">
      <tr class="table-light">
        <th style="min-width: 60px">ID</th>
        <th style="min-width: 80px">{{ 'product.img'|trans }}</th>
        <th style="min-width: 260px">{{ 'product.name'|trans }}</th>
        <th style="min-width: 100px">{{ 'product.variants'|trans }}</th>
        <th style="min-width: 140px">{{ 'generic.action'|trans }}</th>
      </tr>
      {% for entity in pagination %}
      <tr>
        <td>{{ entity.id }}</td>
        <td><img src="{{ entity.img.url }}" width="50px"></td>
        <td><p class="m-0 text-break">{{ entity.name }}</p>
          <small class="text-secondary">
            {% for option in entity.options %}
              {{ option.name ~ (loop.last ? '' : ', ') }}
            {% endfor %}
          </small>
        </td>
        <td>
          <small class="badge text-bg-secondary">{{ entity.variants|length }}/{{ entity.combinedOptionValues|length }}</small>
        </td>
        <td>
          <a href="{{ path('app_productvariant_index', { productId: entity.id }) }}">{{ 'product.variants'|trans }}</a>
          <a href="{{ path('app_product_edit', { id: entity.id }) }}">{{ 'generic.edit'|trans }}</a>
          <a href="{{ path('app_product_delete', { id: entity.id }) }}" onclick="return confirm('{{ 'generic.delete_confirmation'|trans }}')">{{ 'generic.delete'|trans }}</a>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="65536" class="text-center text-body-secondary">{{ 'generic.no_items'|trans }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% if pagination.totalItemCount %}
  <div class="pagination justify-content-center">
    {{ knp_pagination_render(pagination) }}
  </div>
  {% endif %}
{% endblock %}
