{% extends 'base.html.twig' %}

{% block body %}
  <h3 class="mb-3">ProductBundle</h3>

  <p>
    <a href="{{ path('app_option_new') }}" class="btn btn-primary">添加</a>
  </p>

  <div class="overflow-x-auto my-3">
    <table class="table table-striped table-hover m-0">
      <tr class="table-light">
        <th style="min-width: 60px">ID</th>
        <th style="min-width: 100px">{{ 'option.name'|trans }}</th>
        <th style="min-width: 260px">{{ 'option.values'|trans }}</th>
        <th style="min-width: 100px">操作</th>
      </tr>
      {% for entity in pagination %}
      <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.name }}</td>
        <td>
          {% for value in entity.values %}
            <span class="badge text-bg-primary">{{ value.text }}</span>
          {% else %}
            无
          {% endfor %}
        </td>
        <td>
          <a href="{{ path('app_option_edit', { id: entity.id }) }}">编辑</a>
          <a href="{{ path('app_option_delete', { id: entity.id }) }}" onclick="return confirm('确定删除码？')">删除</a>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="65536" class="text-center text-body-secondary">没有记录！</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% if pagination.totalItemCount %}
  <div class="pagination justify-content-center">
    {{ knp_pagination_render(pagination) }}
  </div>
  {% endif %}
{% endblock %}
